h1{
    color:red;
    text-transform: uppercase;
    text-shadow: 2px 2px blue;
}
div{
    text-align:center;
    text-decoration-line: overline;
    text-decoration-color: blue;
    text-decoration-style:wavy;
    text-decoration-thickness: 10px;   
}
p{
    line-height: 2px;
}
.box1{
    border:10px solid black;
    margin-bottom: 40px;
}
.box2{
    border:20px dashed green;
}
.box3{
    border:30px dotted red;
}