h3{
    color:#32a852;
}
h4{
    color:crimson;
}
h5{
    color:bisque;
    background-color: burlywood;
}
*{
    background-color: coral;
}
span{
    color:gray;
}
#name{
    color:darkorchid;
}
.class{
    color:fuchsia;
}